html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top left, #9966ff 0%, #9966ff 100%);
}

#theList {
    max-width: 50%;
    background: white;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

#title {
    font-size: 200%;
    margin: 0;
    padding: 0; /* Set padding to zero */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

h1 {
    margin-top:2%;
    margin-bottom:0;
    margin-left:2%;
}

#buttons {
    margin-top:0%;
    margin-bottom:0;
    margin-left:3%;
}

#doList {
    font-size: 300%;
    margin-top:2%;
    margin-left:20%
}

ul {
    list-style-type: none;
}

#listItem {
    color: black;
}

#finishedItem {
    color: red;
}

